{% extends 'general/base.html' %}

{% block content %}

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Categories</h1>
</div>

<div class="row row-cols-1 row-cols-md-3 row-cols-xl-4 text-center">
    {% for category in Categories %}
    <div class="category col h-auto">
      <div class="card rounded-3 shadow-sm">
        <a class="text-decoration-none text-reset" href="{{ category.get_absolute_url }}">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <img class="d-none d-sm-block" src="{{ category.image.url }}">
            </div>
            <div class="category-text p-1">
              <h4 class="text-center">{{ category }}</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}