{% extends 'general/base.html' %}

{% block title %}{{ Category }}{% endblock %}

{% load poll_extras %}

{% block content %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">{{ Category }}{{ Category.amount }}</h1>
</div>

<div class="product_list row">

  <div class="filters col-3">
    <div>
      <input class="search form-control mb-3" type="search" placeholder="Search in {{ Category }}" value="{{ search }}" aria-label="Search">
    </div>
    <div class="container border rounded-3 p-2">
      {% if not Category.features.fields.items %}
      <h4>There is no filters</h4>
      {% else %}
      <h3 class="text-center">Filters:</h3>
      <div class="row">
      {% for field, values in Category.features.fields.items %}
        <div class="col-12 text-center">
          <div class="border-bottom">
          <p class="collapse-button">
            <button class="filter-button btn" data-bs-toggle="collapse" href="#collapse{{ field }}">
              <h5 class="text-center">{{ field }}</h5>
            </button>
          </p>
          <div class="collapse" id="collapse{{ field }}">
            <div class="list-group" name="myfilters">
              {% for value in values %}
                <label class="form-check-label list-group-item text-start">
                  <input class="filter_checkbox" type="checkbox" id="{{ field }}" name="{{field}}-{{value}}" data-value="{{ value }}">
                  {{ value }}
                </label>
              {% endfor %}
            </div>
          </div>
          </div>
        </div>
      {% endfor %}
      </div>
      <div class="d-grid my-3">
        <button type="button align-content-center" class="btn btn-primary btn-sm mb-3 fs-6" onclick="checkbox_clicked(this)">Apply</button>
        <a type="button align-content-center" class="btn btn-outline-primary fs-6" href="{{ Category.get_absolute_url }}">Reset filters</a>
      </div>
      {% endif %}
    </div>
  </div>

  <div class="products col">
    {% for item in Products %}

    {% include 'store/product/product_card.html' %}
    
    {% endfor %}
  </div>

</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
      {% with page=page_obj.previous_page_number %}
      <a class="page-link" href="?{% fix_pagination page=bruh %}">
      {% endwith %}
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">
    {% endif %}
        Previous
      </a>
    </li>

    {% for page in paginator.page_range %}
    <li class="page-item"><a class="page-link" href="?{% fix_pagination page=page %}">{{ page }}</a></li>
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item">
      {% with page=page_obj.next_page_number %}
      <a class="page-link" href="?{% fix_pagination page=page %}">
      {% endwith %}
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">
    {% endif %}
        Previous
      </a>
    </li>
   
  </ul>
</nav>

<script>
  
window.onload = function() {
  var coded = '{{ checkboxes }}'.split('~');

  if (coded != '[]') {
  coded.forEach(element => {
    const checkbox = document.getElementsByName(element)[0];
    checkbox.checked = 'yes';
  })
  }
}
  
  function send_productId(obj){
    $.ajax({
      type: "POST",
      url: '{% url "basket:basket_add" %}',
      data: {
        productid: obj.id,
        csrfmiddlewaretoken: "{{csrf_token}}",
      },
      success: function () {},
      error: function () {},
    });
  }

  function clicked(obj) {
    send_productId(obj);
  }


  function find_checked(obj) {
    const checkboxes = document.querySelectorAll('.filter_checkbox');
    var checkboxes_checked = {};
    checkboxes.forEach(element => {
      if (element.checked) {
        if (checkboxes_checked[element.id] == null) {
          checkboxes_checked[element.id] = [];
        }
        checkboxes_checked[element.id].push(element.dataset.value);
      }
    });
    return checkboxes_checked;
  }

  
  
  function checkbox_clicked(obj) {
    const checkboxes = find_checked(obj);
    const search = document.querySelector('.search');
    const filters = [];
    var full_filter = {};
    if (Object.keys(checkboxes).length > 0) {
      for (const [key, value] of Object.entries(checkboxes)) {
        filters.push(key + '%' + value.join("~"));
      }
      full_filter['filters'] = filters.join('@');
    }
    if (search.value != '') {
      full_filter['search'] = search.value;
    }
    filter_string = new URLSearchParams(full_filter);
    const url = '{% url "store:filtered_product_list" slug %}' + '?' + filter_string.toString();
    window.location.href = url;
  }
  
</script>

{% endblock %}