{% extends 'general/base.html' %}

{% block title %}{{ Category }}{% endblock %}

{% block content %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">{{ Category }}</h1>
</div>
<div class="row row-cols-1 row-cols-md-4 mb-1 text-center">
    {% for item in Products %}
    <a href="#">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm" style="height: 20rem;">
          <div class="card-body">
          </div>
            <div class="card-header py-3">
                <h4 class="">{{ item.name }} {{ item.price }} {{ item.number_of_shops }}</h4>
            </div>
            <button onclick="clicked(this)" id="{{ item.id }}" data-price="{{ item.price }}">Add to basket</button>
        </div>
      </div>
    </a>
    {% endfor %}
</div>
<script>
  
  function send_productId(obj){
    $.ajax({
      type: "POST",
      url: '{% url "basket:basket_add" %}',
      data: {
        productprice: obj.dataset.price,
        productid: obj.id,
        csrfmiddlewaretoken: "{{csrf_token}}",
      },
      success: function () {},
      error: function () {},
    });
  }

  function clicked(obj) {
    send_productId(obj);
  }
  
</script>

{% endblock %}