{% extends 'general/base.html' %}

{% block title %}{{ Category }}{% endblock %}

{% block content %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">{{ Category }}{{ Category.amount }}</h1>
</div>
<div class="product_list row">
  <div class="col-2">
    <div class="filters">
      {% for field, values in Category.features.fields.items %}
      <span>{{ field }}</span>
      <div class="row row-cols-auto" name="myfilters">
        {% for value in values %}
        <div class="col-6">
          <input type="checkbox" id="{{ field }}" name="filter_checkbox" data-value="{{ value }}" onclick="checkbox_clicked(this)">
          <label>{{ value }}</label>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
        <div class="products col">
      {% for item in Products %}
          <div class="card mb-4 rounded-3 shadow-sm">
            <a href="{{ item.get_absolute_url }}">
              <div class="card-header py-3">
                  <h4 class="">{{ item.name }}{{ item.number_of_shops }}</h4>
              </div>
            </a>
              <button onclick="clicked(this)" id="{{ item.id }}">Add to basket</button>
          </div>
      {% endfor %}
        </div>

</div>

<div class="pagination">
  <nav class="step-links">
    <ul>
      {% for page in paginator.page_range %}
      <li class="page-num">
        <a href="?page={{ page }}">{{ page }}</a>
      </li>
      {% endfor %}
    </ul>      
  </nav>
</div>
<script>
  
  function send_productId(obj){
    $.ajax({
      type: "POST",
      url: '{% url "basket:basket_add" %}',
      data: {
        productid: obj.id,
        csrfmiddlewaretoken: "{{csrf_token}}",
      },
      success: function () {},
      error: function () {},
    });
  }

  function clicked(obj) {
    send_productId(obj);
  }


  function find_checked(obj) {
    const checkboxes = document.getElementsByName(obj.name);
    var checkboxes_checked = {};
    checkboxes.forEach(element => {
      if (element.checked) {
        if (checkboxes_checked[element.id] == null) {
          checkboxes_checked[element.id] = [];
        }
        checkboxes_checked[element.id].push(element.dataset.value);
      }
    });
    return checkboxes_checked;
  }

  
  
  function checkbox_clicked(obj) {
    const checkboxes = find_checked(obj);
    fetch('{% url "store:filter" slug %}', {
                method:'POST',
                headers:{
                    'Content-Type':'application/json',
                    'X-CSRFToken':"{{csrf_token}}",
                }, 
                body:JSON.stringify({
                  'checkboxes': checkboxes,
                  'category_slug': '{{ Category.slug }}',
                })
            })
            .then(response => response.json())
        .then(data => {
          console.log(data);
          window.location.href = data['href'];
        })
        .catch((error) => {
        console.error('Error:', error);
        });
  }
  
  
</script>

{% endblock %}