{% extends 'general/base.html' %}

{% block title %}Basket{% endblock %}

{% block content %}

<div>
    <button class="store-of-choise btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Choose store
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        {% for store in Stores %}
        <li><span class="dropdown-item" onclick="changeStore(this)">{{ store.name }}</span></li>
        {% endfor %}
    </ul>
</div>
<div class="products_basket">
{% for item in Products %}
<div id="product-{{ item.product.id }}">
    <div>
        name = {{ item.product.name }}<br>
    </div>
    <div id="product-{{ item.product.id }}-price">
        price = {{ item.product.price }}<br>
    </div>
    <div id="product-{{ item.product.id }}-price_total">
        total = <span id="price-{{ item.product.id }}">{{ item.total }}</span><br>
    </div>
    {% if item.total_amount == 0 %}
    <div>
        <div>Out of stock</div>
    </div>
    {% else %}
    <div>
        <input type="number" id="value-{{ item.product.id }}" value="{{ item.amount }}" data-id="{{ item.product.id }}" onchange="change(this)">
    </div>
    {% endif %}
    <br>
    <button onclick="delete_object(this)" data-id="{{ item.product.id }}">Delete</button>

<br>
<br>
</div>
{% endfor %}
<br>
<div class="">Total price:<div id="total_price" class="">{{ Total_price }}</div></div>
{% if user.is_authenticated %}
<div class='checkout-button' style="display: none;">
    <button type="button" class="btn btn-primary" onclick="checkout()">Checkout</button>
</div>
{% else %}
<span>Login to checkout</span>
{% endif %}
</div>
<script>

    function change(obj){

        const total = document.getElementById('total_price');
        const price = document.getElementById(`price-${obj.dataset.id}`);

        fetch('{% url "basket:basket_update" %}', {
                method:'PATCH',
                headers:{
                    'Content-Type':'application/json',
                    'X-CSRFToken':"{{csrf_token}}",
                }, 
                body:JSON.stringify({
                    'product_id':obj.dataset.id,
                    'product_amount': obj.value,
                    'total_price': total.innerHTML,
                })
            })
            .then(response => response.json())
        .then(data => {
            if (data['agreement'] == false) {
                obj.value = data['amount'];
            }
            else if(data['agreement'] == 'Out of stock') {
                const parent = obj.parentNode;
                obj.remove();
                const element = document.createElement('div');
                parent.append(element);
                element.textContent = 'Out of stock';
            }
            else {
                total.textContent = data['total'];
                price.textContent = data['total_product'];
            }
        })
        .catch((error) => {
        console.error('Error:', error);
        });
        
    }

    function delete_object(obj){

        const total = document.getElementById('total_price')

        fetch('{% url "basket:basket_update" %}', {
                method:'DELETE',
                headers:{
                    'Content-Type':'application/json',
                    'X-CSRFToken':"{{csrf_token}}",
                }, 
                body:JSON.stringify({
                    'product_id':obj.dataset.id,
                    'total_price':total.innerHTML,
                })
            })
            .then(response => response.json())
        .then(data => {
            obj.parentNode.remove();
            total.textContent = data['total']
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }

    function changeStore(obj) {
        const parent = document.querySelector('.store-of-choise');
        const button = document.querySelector('.checkout-button');
        parent.textContent = obj.textContent;
        button.style.display = '';
    }

    function checkout() {
        const shop = document.querySelector('.store-of-choise');
        const url = 'checkout/' + shop.textContent;
        document.location.href = url
    }

</script>
{% endblock %}