{% extends 'general/base.html' %}

{% block content %}

{% if validlink %}


<div class="row py-5">

    <div class="col-4">

    </div>

    <div class="col-4 border rounded-3 mt-3">
        <div class="text-center fs-3 my-3">
            <span class="">
                Please enter your new password.
            </span>
        </div>
        <form method="post">{% csrf_token %}
            {% load crispy_forms_tags %}
            <div class="form-row field-password1">
                {{ form.new_password1.errors }}
                {{ form.new_password1|as_crispy_field }}
            </div>
            <div class="form-row field-password2">
                {{ form.new_password2.errors }}
                {{ form.new_password2|as_crispy_field }}
            </div>
            <input type="submit" value="Change my password">
</form>

{% else %}

The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.

{% endif %}

{% endblock %}
