{% extends 'general/base.html' %}

{% block content %}


<div class="row py-5">

    <div class="col-4">

    </div>

    <div class="col-12 col-md-4 border rounded-3 mt-3">
        <div class="text-center fs-3">
            <span class="">
                Reset Password
            </span>
        </div>
        <form method="post">{% csrf_token %}
            <div class="form-row field-email">
                {% load crispy_forms_tags %}
                {{ form.email.errors }}
                {{ form.email|as_crispy_field }}
            </div>
            <input class=" btn btn-primary m-3" type="submit" value="Reset my password">
        </form>
    </div>
</div>

{% endblock %}
