{% extends 'general/base.html' %}
{% block title %}Profile{% endblock %}

{% block content %}

<div class="container" style="max-width: 1000px">
    <div class="row">


        <div class="col-12 text-start my-3">
            <span class=" fs-1 fw-bold">
                This is your profile
            </span>
        </div>
        
        <div class="col-3 border">

            <div class="my-3">
                <span class="fs-4 fw-bold text-start">
                    Tabs:
                </span>
            </div>

            <ul class="list-group mb-3">

                <a href="{% url 'authentication:profile' %}">
                    <li class="list-group-item">
                        Orders
                    </li>
                </a>

                <li class="list-group-item active">
                    Commentaries
                </li>
            </ul>

        </div>

        <div class="col-9">
        {% for review in Reviews %}

        {% include 'authentication/reviews/review_card.html' %}
        
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}