
<div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-body row">
        <div class="col-3">
            <div class="product-image col-3">
                <div class="m-2">
                    <img src="{{ item.image.url }}">
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="product-name">
                <a class="product-about text-decoration-none text-reset mx-auto align-self-start" href="{{ item.get_absolute_url }}">
                    <span class="product-name-link text-start fs-4 ">{{ item.name }}</span>
                </a>
            </div>

            <div class="col-12">
                <span>
                    
                    <i class="fa-solid fa-star">
                        {% if item.avg_rating %}
                        {{ item.avg_rating|floatformat:1 }}
                        {% else %}
                        0
                        {% endif %}
                    </i>
                </span>
            </div>

            <div class="col-12 mt-3">
                <div class="row text-start">
                    {% if item.number_of_shops > 0 %}
                    <div class="available-stores col-6">
                        <span class="stores-count fs-6">
                        {% if item.number_of_shops == 1 %}
                        Available: in {{ item.number_of_shops }} store
                        {% else %}
                        Available: in {{ item.number_of_shops }} stores
                        {% endif %}
                        </span>
                </div>
                <div class="total-amount col-6">
                    <span class="amount-count fs-6">
                    {% if item.total_amount > 0 %}
                    Total {{ item.total_amount }} items available
                    {% endif %}
                    </span>
                </div>
                {% else %}
                <div class="col-6">
                    <span class="out-of-stock fs-5">
                    OUT OF STOCK
                    </span>
                </div>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="product-buy col-3">
            <div class="row">
                <div class="col-12 text-end mb-4">
                    <span class="fs-2 fw-bold">
                        {{ item.price }} ₽
                    </span>
                </div>
                <div class="col-12 text-end">
                    <button type="button" class="btn btn-outline-primary" onclick="clicked(this)" id="{{ item.id }}">Add to basket</button>
                </div>
            </div>
        </div>
    </div>
</div>